In [3]:
from warnings import filterwarnings
filterwarnings('ignore')

In [4]:
import pandas as pd
df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [7]:
df.duplicated().sum()

1

In [8]:
cat = list(df.columns[df.dtypes=='object'])
con = list(df.columns[df.dtypes!='object'])

In [9]:
cat

['species']

In [10]:
con

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

### seperate X and Y Feature

In [11]:
X = df.drop(columns=['species'])
Y = df[['species']]

In [12]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [13]:
Y.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

### Preprocessing on X feature

In [14]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [15]:
num_pipe = Pipeline(steps=[('imputer',SimpleImputer(strategy='mean')),
                           ('scaler',StandardScaler())]).set_output(transform='pandas')

In [16]:
X_pre = num_pipe.fit_transform(X)
X_pre.head()

   sepal_length  sepal_width  petal_length  petal_width
0     -0.900681     1.019004     -1.340227    -1.315444
1     -1.143017    -0.131979     -1.340227    -1.315444
2     -1.385353     0.328414     -1.397064    -1.315444
3     -1.506521     0.098217     -1.283389    -1.315444
4     -1.021849     1.249201     -1.340227    -1.315444

### Apply Train and Test Split

In [17]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X_pre, Y, test_size=0.2, random_state=21)

In [18]:
xtrain.head()

     sepal_length  sepal_width  petal_length  petal_width
41      -1.627688    -1.743357     -1.397064    -1.183812
131      2.492019     1.709595      1.501645     1.053935
70       0.068662     0.328414      0.592246     0.790671
46      -0.900681     1.709595     -1.226552    -1.315444
126      0.432165    -0.592373      0.592246     0.790671

In [19]:
ytrain.head()

        species
41       setosa
131   virginica
70   versicolor
46       setosa
126   virginica

In [20]:
xtest.head()

    sepal_length  sepal_width  petal_length  petal_width
92     -0.052506    -1.052767      0.137547     0.000878
44     -0.900681     1.709595     -1.056039    -1.052180
7      -1.021849     0.788808     -1.283389    -1.315444
21     -0.900681     1.479398     -1.283389    -1.052180
95     -0.173674    -0.131979      0.251221     0.000878

In [21]:
ytest.head()

       species
92  versicolor
44      setosa
7       setosa
21      setosa
95  versicolor

In [22]:
xtrain.shape

(120, 4)

In [23]:
xtest.shape

(30, 4)

### Build Neural Network

In [24]:
from keras.models import Sequential
from keras.layers import Dense

In [25]:
# Initialize Neural Network
model = Sequential()
# Add first Hidden Layer
model.add(Dense(units=32, activation='relu',input_shape=(xtrain.shape[1],)))
# add second hidden layer
model.add(Dense(units=16, activation='relu'))
# add funal hidden layer
model.add(Dense(units=1, activation='linear'))

WARNING:tensorflow:From c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

### compile the Model

In [26]:
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

WARNING:tensorflow:From c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

### Train the Neural Network

In [27]:
import tensorflow as tf

In [29]:
hist = model.fit(xtrain, ytrain, validation_data=(xtest, ytest), epochs=100)

Epoch 1/100

UnimplementedError: Graph execution error:

Detected at node mean_squared_error/Cast defined at (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main

  File "<frozen runpy>", line 88, in _run_code

  File "c:\Deep Learning\repository\venv\Lib\site-packages\ipykernel_launcher.py", line 18, in <module>

  File "c:\Deep Learning\repository\venv\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance

  File "c:\Deep Learning\repository\venv\Lib\site-packages\ipykernel\kernelapp.py", line 739, in start

  File "c:\Deep Learning\repository\venv\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start

  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.11_3.11.2288.0_x64__qbz5n2kfra8p0\Lib\asyncio\base_events.py", line 608, in run_forever

  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.11_3.11.2288.0_x64__qbz5n2kfra8p0\Lib\asyncio\base_events.py", line 1936, in _run_once

  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.11_3.11.2288.0_x64__qbz5n2kfra8p0\Lib\asyncio\events.py", line 84, in _run

  File "c:\Deep Learning\repository\venv\Lib\site-packages\ipykernel\kernelbase.py", line 542, in dispatch_queue

  File "c:\Deep Learning\repository\venv\Lib\site-packages\ipykernel\kernelbase.py", line 531, in process_one

  File "c:\Deep Learning\repository\venv\Lib\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell

  File "c:\Deep Learning\repository\venv\Lib\site-packages\ipykernel\ipkernel.py", line 359, in execute_request

  File "c:\Deep Learning\repository\venv\Lib\site-packages\ipykernel\kernelbase.py", line 775, in execute_request

  File "c:\Deep Learning\repository\venv\Lib\site-packages\ipykernel\ipkernel.py", line 446, in do_execute

  File "c:\Deep Learning\repository\venv\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell

  File "c:\Deep Learning\repository\venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3051, in run_cell

  File "c:\Deep Learning\repository\venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3106, in _run_cell

  File "c:\Deep Learning\repository\venv\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner

  File "c:\Deep Learning\repository\venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3311, in run_cell_async

  File "c:\Deep Learning\repository\venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3493, in run_ast_nodes

  File "c:\Deep Learning\repository\venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code

  File "C:\Users\Admin\AppData\Local\Temp\ipykernel_20104\3260388334.py", line 1, in <module>

  File "c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\utils\traceback_utils.py", line 65, in error_handler

  File "c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\engine\training.py", line 1807, in fit

  File "c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\engine\training.py", line 1401, in train_function

  File "c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\engine\training.py", line 1384, in step_function

  File "c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\engine\training.py", line 1373, in run_step

  File "c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\engine\training.py", line 1151, in train_step

  File "c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\engine\training.py", line 1209, in compute_loss

  File "c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\engine\compile_utils.py", line 277, in __call__

  File "c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\losses.py", line 143, in __call__

  File "c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\losses.py", line 270, in call

  File "c:\Deep Learning\repository\venv\Lib\site-packages\keras\src\losses.py", line 1705, in mean_squared_error

Cast string to float is not supported
	 [[{{node mean_squared_error/Cast}}]] [Op:__inference_train_function_998]